{# Compétences #}
        <ul>
            {% for competence in frontCompetenceListe %}
                <li>
                    <input type="checkbox" class="form-check-input" name="" id="{{ competence.id }}">
                    <input type="checkbox" class="form-check-input" name="" id="{{ competence.id }}">
                    <label>{{ competence.nom }}</label>
                </li>
            {% endfor %}
        </ul>
        <ul>
            {% for competence in backCompetenceListe %}
                <li>
                    <input type="checkbox" class="form-check-input" name="" id="{{ competence.id }}">
                    <input type="checkbox" class="form-check-input" name="" id="{{ competence.id }}">
                    {{ competence.nom }}
                </li>
            {% endfor %}
        </ul>
